.ToolBar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #373737;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.ToolBar nav {
  height: 100%;
}

#Logo {
  margin-left: 100px;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
